* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --active: translateY(4px);
  --main-color: #d9edff;
  --orange: #ffa62b;
  --blue: #00a0c1;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --border-orange: 1.5px solid #ffa62b;
  --border-blue: 1px solid #00a0c1;
  --transition: 0.3s ease-out;
}

/* _____________________________Different-devices___________________________ */

/* ___________for-phone_________ */

@media only screen and (max-width: 460px) {
  .main__heading__btn__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

  .main__heading {
    line-height: 45px !important;
  }

  .read__more__text {
    font-size: 3vw !important;
  }

  .services__heading__text {
    padding: 5% 10%;
    text-align: center;
  }

  .introducing__image {
    width: 100%;
  }
}

@media only screen and (min-width: 461px) {
  .services__heading__text {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .main__heading {
    font-size: 7vw !important;
  }

  .main__heading__text {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 850px) {
  .nav__container {
    padding: 10px 8% !important;
  }

  .for__phone {
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100vh !important;
    background-color: rgba(255, 255, 255, 0.979);
    /* background: rgb(255, 166, 43);
    background: linear-gradient(
      0deg,
      rgba(255, 167, 43, 0.953) 11%,
      rgba(255, 255, 255, 1) 41%
    ); */
    padding-top: 64px;
  }

  .for__big__screen {
    display: none;
  }

  .nave__list__container {
    padding: 0 8% !important;
    width: 100% !important;
    height: auto;
    text-align: start !important;
  }

  .menu__bar {
    position: absolute;
    right: 0;
    padding-right: 7.5%;
  }

  .menu__bar2 {
    position: absolute;
    right: 7.5%;
    top: 24px;
  }

  .fa-bars,
  .fa-xmark {
    font-size: 22px;
  }

  .nav__link__important {
    padding: 0 30%;
  }

  .nav__list {
    background-color: rgba(255, 255, 255, 0.854);
    padding: 10px 0;
  }

  .nav__list1 {
    border-radius: 4px 4px 0 0;
  }

  .nav__list3 {
    padding-bottom: 30px;
  }

  .nav__list__important {
    background-color: var(--orange);
    padding: 3px 0;
    border-radius: 4px;
  }

  .nav__link {
    padding-right: 90%;
  }

  .nave__list__container:hover {
    border: none !important;
  }

  .nave__list__container__important {
    text-align: center !important;
    background: none !important;
    border: none !important;
  }

  .nav__link__important:hover {
    color: white !important;
  }

  .nav__items {
    flex-direction: column;
    margin-left: -40px !important;
  }

  .main__heading__form__section {
    justify-content: center !important;
    flex-wrap: wrap;
    gap: 70px;
    padding-top: 80px !important;
  }

  .main__heading__container {
    align-items: center;
    text-align: center;
  }

  .learn__more__container {
    width: 100% !important;
    height: 100%;
    top: 0;
    left: 0 !important;
  }

  .read__more__cross {
    position: absolute;
    top: 46% !important;
    left: 48% !important;
  }

  .read__more__text {
    font-size: 2vw;
  }

  .card__container {
    justify-content: center !important;
  }

  .image__content1 {
    margin: -90px 0 24px 0;
  }

  .card {
    width: 100% !important;
  }

  .youtube__icon {
    display: none !important;
  }

  .image__content2 {
    display: none;
  }

  .how__section {
    padding: 0 8%;
  }

  .introducing__image1 {
    width: 100%;
    height: auto;
  }

  .footer {
    padding-top: 14px;
  }

  .gallery__heading {
    margin-bottom: 28px;
  }

  .gallery__section__1 {
    padding: 0 8%;
  }

  .image__2 {
    width: 100%;
  }

  .gallery__section__2 {
    display: none;
  }
}

@media only screen and (min-width: 851px) {
  .menu__bar {
    display: none;
  }

  .for__phone {
    display: none;
  }

  .read__more__text {
    font-size: 1.5vw;
  }

  .image__content1 {
    display: none;
  }

  .image__content:hover {
    transform: translateX(5px);
    --transition: 0.2s ease-out;
    transition: var(--transition);
  }

  .gallery__container_1 {
    display: grid;
    gap: 10px;
  }

  .footer {
    padding-top: 40px;
  }

  .gallery__heading {
    margin-bottom: 60px;
  }

  .gallery__section__1 {
    display: none;
  }

  .gallery__section__2 {
    padding: 0 8%;
  }

  .image__2 {
    width: 100%;
  }
}

/* ______________________________heading____________________________________ */

.heading__sections {
  background-color: var(--main-color);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 8% 0 8%;
  position: fixed;
  background-color: var(--main-color);
}

.nav__logo__container {
  width: 10%;
  min-width: 80px;
  height: auto;
}

.nav__logo {
  width: 100%;
  height: auto;
}

.nav__logo:hover {
  filter: grayscale(100%);
  transition: var(--transition);
  cursor: pointer;
}

.nav__menu {
  width: 70%;
  height: auto;
}

.nav__items {
  margin-left: -30px;
  display: flex;
  list-style-type: none;
  justify-content: end;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.nave__list__container {
  padding: 1% 0;
  width: 18%;
  min-width: 80px;
  height: auto;
  text-align: center;
  border: 1.5px solid transparent;
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
}

.nave__list__container:hover {
  background-color: transparent;
  transition: var(--transition);
  border: var(--border-orange);
  border-radius: 10px;
}

.nav__link:hover {
  --transition: 0.2s ease-out;
  transition: var(--transition);
}

.nave__list__container__important {
  --border-orange: 0.1px solid #ffa62b;
  border: var(--border-orange);
  background: var(--orange);
  border-radius: 10px;
}

.nav__link__important {
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
}

.nave__list__container__important:hover {
  background-color: transparent;
  transition: var(--transition);
}

.nav__link__important:hover {
  color: var(--orange);
}

.main__heading {
  font-weight: 800;
  font-size: 48px;
  line-height: 70px;
}

.main__heading__form__section {
  display: flex;
  justify-content: space-between;
  padding: 114px 8% 34px 8%;
}

.main__heading__container {
  width: 452px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__heading__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
}

.btn {
  width: 187px;
  height: auto;
  border-radius: 27px;
  font-weight: 400;
  font-size: 20px;
  padding: 10.5px 0;
}

.btn__primary {
  border-radius: 27px;
  border: none;
  background: var(--blue);
  color: var(--white);
  border: var(--border-blue);
}

.btn__primary:hover {
  background-color: transparent;
  color: var(--blue);
  transition: var(--transition);
}

.btn__secondary,.learn__more__container {
  border-radius: 27px;
  background-color: transparent;
  color: var(--blue);
  border: var(--border-blue);
}

.btn__secondary:hover {
  border: none;
  padding: 11.5px 0;
  background: var(--blue);
  color: var(--white);
  transition: var(--transition);
}

.learn__more__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: var(--main-color); */
  backdrop-filter: blur(20px);
  border: none;
  transform: scale(0);
  transition: transform .5s ease;
}

.learn__more__container.active-popup {
  transform: scale(1);
}

.read__more__cross {
  position: absolute;
  top: 45%;
  left: 50%;
  color: var(--blue);
  transform: scale(0);
}

.read__more__cross.active-popup {
  transform: scale(1);
}

.read__more__text {
  /* font-size: 1.5vw; */
  position: absolute;
  color: black;
  padding: 60px 3%;
  background-color: var(--main-color);
  width: 60%;
  height: 60%;
  top: 40%;
  right: 20%;
  border: 1px solid #00a0c1;
  border-radius: 27px;
}

.form {
  padding: 34px;
}

.form__container {
  height: auto;
  border-radius: 19px;
  background: var(--white);
  width: 376px;
}

.form__heading {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding-top: 34px;
}

.form__label {
  display: block;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.69);
}

.input__field,
#select__field {
  display: block;
  background: #fbfbfb;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 17px;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.input__field:focus,
#select__field:focus {
  outline: 1.5px solid #ffa62b;
  transition: 0.5s ease-out;
}

#select__field,
::placeholder {
  font-weight: 600;
  font-size: 17px;
  color: #bdbdbd;
}

#select__field:hover {
  color: var(--black);
}

.form__submit {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  padding: 10px;
  border: none;
  background: var(--orange);
  color: var(--white);
  --border-orange: 0.1px solid #ffa62b;
  border: var(--border-orange);
}

.form__submit:hover {
  background-color: transparent;
  color: var(--orange);
  transition: var(--transition);
}

/* ______________________services-section_____________________________ */

.services__section {
  padding: 115px 8%;
}

.services__heading {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.card__container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: #d9edff;
  border-radius: 30px;
  width: 30%;
  height: auto;
}

.card:hover {
  transition: var(--transition);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(217, 237, 255, 1) 50%
  );
  box-shadow: 0px 0px 5px 8px rgba(217, 237, 255, 0.75);
  -webkit-box-shadow: 0px 0px 5px 8px rgba(217, 237, 255, 0.75);
  -moz-box-shadow: 0px 0px 5px 8px rgba(217, 237, 255, 0.75);
}

.card-icon {
  padding: 17px;
  border-radius: 50%;
  background-color: #ffa62b;
  color: var(--white);
}

.card-icon:hover {
  background-color: var(--main-color);
  color: var(--orange);
  transition: var(--transition);
}

.card__heading {
  text-align: center;
  padding: 38px 0;
  font-weight: 400;
  font-size: 20px;
}

.card__contents {
  border-radius: 30px;
  padding: 40px 18px 36px 0px;
  background: var(--white);
  border: var(--border-blue);
}

.card__contents:hover {
  transition: var(--transition);
  background: rgb(217, 237, 255);
  background: linear-gradient(
    90deg,
    rgba(217, 237, 255, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}

.card__list {
  padding-bottom: 28px;
}

.card__link:hover {
  border-bottom: var(--border-orange);
  border-top: var(--border-orange);
  --transition: 0.2s ease-out;
  transition: var(--transition);
}

.card__link__important {
  margin-left: 40px;
  font-weight: 600;
  color: var(--orange);
}

.card__link__important:hover {
  transform: translateX(4px);
  padding: 5px;
  text-decoration: underline;
  transition: var(--transition);
}

/* ____________________________how-section_____________________________ */

.introducing__container {
  margin-bottom: 154px;
}

.introducing__heading {
  text-align: center;
  margin-bottom: 16px;
}

.introducing__text {
  text-align: center;
}

.image__container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: auto;
  background: #0b353d;
  border-radius: 0px 151px 0px 0px;
}

.image__content {
  position: relative;
  bottom: 75px;
}

.youtube__icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img-icon {
  padding: 17px;
  border-radius: 50%;
  background-color: rgb(195, 0, 0);
  font-size: xx-large;
  color: var(--white);
}

.img-icon:hover {
  background-color: white;
  color: rgb(195, 0, 0);
}

/* ____________________________footer_______________________________ */

.footer {
  text-align: center;
}

/* _____________gallery_____________ */

.gallery__heading {
  font-weight: 600;
  font-size: 24px;
}

.gallery__container_1 {
  grid-template: repeat(2, auto) / repeat(3, auto);
  justify-content: center;
}

.gallery__section__2 {
  margin-top: 70px;
}

.gallery__container__2 {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, auto);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item3";
  justify-content: center;
  gap: 10px;
}

.item__1 {
  grid-area: item1;
}

.item__2 {
  grid-area: item2;
}

.item__3 {
  grid-area: item3;
}

.item__4 {
  grid-area: item4;
}

.image__2:hover {
  filter: grayscale(100%);
  transition: var(--transition);
}

/* _____________contact_____________ */

.contact__section {
  padding: 52px 0;
}

.contact__heading {
  margin-bottom: 25px;
}

.footer__icon__link {
  padding: 0 7px;
}

.footer-icon {
  font-size: xx-large;
  color: var(--black);
}

.footer-icon:hover {
  color: #0b353d;
}

.hr {
  border: 1px solid black;
}

.date__section {
  padding: 40px 20%;
}

/* _____________________________________active__________________________________ */

.fa-brands:active,
.btn:active,
li:active,
.form__submit:active,
.card__contents:hover {
  transform: var(--active);
}
