* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --active: translateY(4px);
  --main-color: #d9edff;
  --orange: #ffa62b;
  --blue: #00a0c1;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --border-orange: 1.5px solid #ffa62b;
  --border-blue: 1px solid #00a0c1;
  --transition: 0.3s ease-out;
}

/* _____________________________Different-devices___________________________ */

/* ___________for-phone_________ */

@media only screen and (max-width: 460px) {

  .nav__logo {
    font-weight: 400;
  }

  .main__heading__form__section {
    flex-wrap: wrap;
    gap: 70px;
  }

  .nav__link,
  .nav__link__important {
    display: none;
  }

  .main__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding: 5%;
    text-align: center;
  }

  .main__heading__text {
    text-align: center;
  }

  .main__heading__btn__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .nav__container {
    display: flex;
    flex-direction: none;
    align-items: center;
  }

  .form__container {
    width: 312px;
  }

  .input__field,
  #select__field {
    width: 258px;
    height: 49px;
  }

  .form {
    padding: 27px;
  }

  .services__heading__text {
    padding: 5% 10%;
    text-align: center;
  }

  .image__content2{
    display: none;
  }

  .card__container {
    flex-wrap: wrap;
  }

  .introducing__image {
    width: 100%;
  }

  .gallery__section__2,.image__4 {
    display: none;
  }

  .footer {
    padding-top: 14px;
  }

  .gallery__heading {
    margin-bottom: 28px;
  }

}

@media only screen and (min-width: 461px) {
  .nav__logo {
    font-weight: 600;
  }

  .fa-solid__fa-bars {
    display: none;
  }

  .nav__items {
    flex-wrap: wrap;
    gap: 28px;
  }

  .main__heading__form__section {
    flex-wrap: wrap;
    gap: 208px;
  }

  .main__heading {
    font-weight: 800;
    font-size: 48px;
    line-height: 70px;
  }

  .card__container {
    flex-wrap: wrap;
  }

  .form__container {
    width: 396px;
  }

  .form {
    padding: 34px;
  }

  .input__field,
  #select__field {
    width: 324px;
    height: 60px;
  }

  .services__heading__text {
    display: none;
  }

  .image__container {
    height: 300px;
  }

  .image__content1 {
    display: none;
  }

  
.image__content:hover {
  transform: translateX(5px);
  --transition: 0.2s ease-out;
  transition: var(--transition);
}

.introducing__heading {
  padding: 0 33%;
}

.gallery__container_1 {
  display: grid;
  gap: 10px;
}

.footer {
  padding-top: 140px;
}

.gallery__heading {
  margin-bottom: 60px;
}



}

/* ______________________________heading____________________________________ */

.heading__sections {
  background-color: var(--main-color);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 24px 8%;
}

.nav__logo {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--orange);
}

.nav__items {
  display: flex;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
}

.nav__link:hover {
  padding: 0;
  border-bottom: var(--border-orange);
  border-top: var(--border-orange);
  --transition: 0.2s ease-out;
  transition: var(--transition);
}

.nav__link__important {
  border-radius: 10px;
  padding: 12px 29px;
  font-weight: 600;
  font-size: 20px;
  background: var(--orange);
  color: var(--white);
  --border-orange: 0.1px solid #ffa62b;
  border: var(--border-orange);
}

.nav__link__important:hover {
  background-color: transparent;
  color: var(--orange);
  transition: var(--transition);
}

.main__heading__form__section {
  display: flex;
  justify-content: center;
  padding: 34px 0;
}

.main__heading__container {
  width: 452px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__heading__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
}

.btn {
  width: 187px;
  height: auto;
  border-radius: 27px;
  font-weight: 400;
  font-size: 20px;
  padding: 10.5px 0;
}

.btn__primary {
  border-radius: 27px;
  border: none;
  background: var(--blue);
  color: var(--white);
  border: var(--border-blue);
}

.btn__primary:hover {
  background-color: transparent;
  color: var(--blue);
  transition: var(--transition);
}

.btn__secondary {
  border-radius: 27px;
  background-color: transparent;
  color: var(--blue);
  border: var(--border-blue);
}

.btn__secondary:hover {
  border: none;
  padding: 11.5px 0;
  background: var(--blue);
  color: var(--white);
  transition: var(--transition);
}

.form__container {
  height: auto;
  border-radius: 19px;
  background: var(--white);
}

.form__heading {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding-top: 34px;
}

.form__label {
  display: block;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.69);
}

.input__field,
#select__field {
  display: block;
  background: #fbfbfb;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 17px;
}

.input__field:focus,
#select__field:focus {
  outline: 1.5px solid #ffa62b;
  transition: 0.5s ease-out;
}

#select__field,
::placeholder {
  font-weight: 600;
  font-size: 17px;
  color: #bdbdbd;
  padding-left: 27px;
}

#select__field:hover {
  color: var(--black);
}

.form__submit {
  width: 100%;
  height: auto;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  padding: 17px;
  border: none;
  background: var(--orange);
  color: var(--white);
  --border-orange: 0.1px solid #ffa62b;
  border: var(--border-orange);
}

.form__submit:hover {
  background-color: transparent;
  color: var(--orange);
  transition: var(--transition);
}

/* ______________________services-section_____________________________ */

.services__section {
  padding: 115px 0;
}

.services__heading {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.card__container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.card {
  background: #d9edff;
  border-radius: 30px;
  width: 342px;
  height: auto;
}

.card:hover {
  transition: var(--transition);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(217, 237, 255, 1) 50%
  );
  box-shadow: 0px 0px 5px 8px rgba(217, 237, 255, 0.75);
  -webkit-box-shadow: 0px 0px 5px 8px rgba(217, 237, 255, 0.75);
  -moz-box-shadow: 0px 0px 5px 8px rgba(217, 237, 255, 0.75);
}

.card-icon {
  padding: 17px;
  border-radius: 50%;
  background-color: #ffa62b;
  color: var(--white);
}

.card-icon:hover {
  background-color: var(--main-color);
  color: var(--orange);
  transition: var(--transition);
}

.card__heading {
  text-align: center;
  padding: 38px 0;
  font-weight: 400;
  font-size: 20px;
}

.card__contents {
  border-radius: 30px;
  padding: 40px 18px 36px 0px;
  background: var(--white);
  border: var(--border-blue);
}

.card__contents:hover {
  transition: var(--transition);
  background: rgb(217, 237, 255);
  background: linear-gradient(
    90deg,
    rgba(217, 237, 255, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}

.card__list {
  padding-bottom: 28px;
}

.card__link:hover {
  border-bottom: var(--border-orange);
  border-top: var(--border-orange);
  --transition: 0.2s ease-out;
  transition: var(--transition);
}

.card__link__important {
  margin-left: 40px;
  font-weight: 600;
  color: var(--orange);
}

.card__link__important:hover {
  transform: translateX(4px);
  padding: 5px;
  text-decoration: underline;
  transition: var(--transition);
}

/* ____________________________how-section_____________________________ */

.introducing__container {
  margin-bottom: 154px;
}

.introducing__heading {
  text-align: center;
  margin-bottom: 16px;
}

.introducing__text {
  text-align: center;
}

.image__container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: auto;
  background: #0b353d;
  border-radius: 0px 151px 0px 0px;
}

.image__content {
  position: relative;
  bottom: 75px;
}

.youtube__icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img-icon {
  padding: 17px;
  border-radius: 50%;
  background-color: rgb(195, 0, 0);
  font-size: xx-large;
  color: var(--white);
}

.img-icon:hover {
  background-color: white;
  color: rgb(195, 0, 0);
}

/* ____________________________footer_______________________________ */

.footer {
  text-align: center;
}

/* _____________gallery_____________ */

.gallery__heading {
  font-weight: 600;
  font-size: 24px;
}

.gallery__container_1 {
  grid-template: repeat(2, auto) / repeat(3, auto);
  justify-content: center;
}

.gallery__section__2 {
  margin-top: 70px;
}

.gallery__container__2 {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, auto);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item3";
  justify-content: center;
  gap: 10px;
}

.item__1 {
  grid-area: item1;
}

.item__2 {
  grid-area: item2;
}

.item__3 {
  grid-area: item3;
}

.item__4 {
  grid-area: item4;
}

.image__2:hover {
  filter: grayscale(100%);
  transition: var(--transition);
}

/* _____________contact_____________ */

.contact__section {
  padding: 52px 20%;
}

.contact__heading {
  margin-bottom: 25px;
}

.footer__icon__link {
  padding: 0 7px;
}

.footer-icon {
  font-size: xx-large;
  color: var(--black);
}

.footer-icon:hover {
  color: #0b353d;
}

.hr {
  border: 1px solid black;
}

.date__section {
  padding: 40px 20%;
}

/* _____________________________________active__________________________________ */

.fa-brands:active,
.btn:active,
li:active,
.form__submit:active,
.card__contents:hover {
  transform: var(--active);
}
